.ingredientItem {
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 208px;
    align-items: center;
}
.ingredientItem:hover{
    cursor: pointer;
}
.ingredientItem__price {
    display: flex;
}
.ingredientItem__name {
    text-align: center;
}