.burgerIngredients {
    width: 41%;
}
.burgerIngredients__title {
    margin-top: 40px;
}
.burgerIngredients__tabs {
    display: flex;
    margin-top: 20px;
}
.burgerIngredients__tabsLink {
    text-decoration: none;
}
.burgerIngredients__items {
    height: 912px;
    overflow: scroll;
    overflow-x: hidden;
}

.ingredientItem {
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 208px;
    align-items: center;
}
.ingredientItem__price {
    display: flex;
}
.ingredientItem__name {
    text-align: center;
}

.ingredientsCategory__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
}